body {
    font-family: 'DM Sans Regular', sans-serif;
    background-color: #121212;
    color: #fff;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}
a {
    text-decoration: none;
    color: inherit;
}
/* a:focus {
    color: #bea69b;
}
a:active {
    color: #bea69b;
} */
.link {
    text-decoration: none; 
}
ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
} 
    address {
        font-style: normal;
    }
    button {
        cursor: pointer;}

    .container {
         width: 320px;
         padding-left: 20px;
         padding-right: 20px;
         margin: 0 auto;  
        }
img {
    display: block;
    max-width: 100%;
    height: auto;
}
    
    .visually-hidden {
         position: absolute;
         width: 1px;
         height: 1px;
         margin: -1px;
         border: 0;
         padding: 0;
         white-space: nowrap;
         clip-path: inset(100%);
         clip: rect(0, 0, 0, 0);
         overflow: hidden;         }

/*-----------HEADER----------*/
.header {
    padding-top: 20px;
    padding-bottom: 10px;
}
.header-container {
    border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 12px;
        padding-top: 17px;
        padding-bottom: 17px;
       }
       .header-navigation {
        display: flex;
            justify-content: space-between;
            align-items: center;
            text-align: center;
       }
.header-menu-list {
    display: none;
}
.header-btn {
    display: none;
}
.heder-logo-icon {
    fill: #fff;
}
.heder-nav-icon {
    stroke: #fff;
 }
 .mobile-menu-open {
    background-color: transparent;
    border: none;
 }

.mobile-container {}

.mobile-menu-close {
    background-color: transparent;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
}

.mobile-btn-close {
    stroke: #060707;
}
.mobile-img {
    position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 198px;
        pointer-events: none;
}
.mobile-nav {
   
}

.mobile-menu-list {
            position: absolute;
            width: 250px;
            height: 100%;
            padding-left: 20px;  
            padding-top: 150px;  
            padding-right: 100px; 
}

.mobile-menu-item {
        font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
        color: #121212;
        cursor: pointer;
        opacity: 0.6;
        transition: 0.3s;
}
.mobile-menu-item:not(:last-child) {
    margin-bottom: 20px;
}
.mobile-menu-item:active, .mobile-menu-item:focus {
    color: #3b2621;
    opacity: 1;
    letter-spacing: 0.5px;
}
.header-menu-link {}

.curret {}
.hidden {
    display: none;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(18, 18, 18, 0.4);
}
.modal {
    position: relative;
    background-color: #bea69b;
    width: 198px;
        height: 812px;
        position: absolute;
         left: 40%;
}
/*------------- HERO------------- */
.hero {
    padding-top: 10px;
    padding-bottom: 80px;
}

.hero-container {
    padding-top: 40px;
    border-radius: 30px;
    background-color: #1d1d1d;
}

.hero-title {
        font-weight: 500;
        font-size: 40px;
        line-height: 110%;
        letter-spacing: -0.04em;
        margin-bottom: 20px;
}

.hero-title-italic {
    font-style: italic;
        font-weight: 400;
        color: #bea69b;
}

.hero-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 129%;
        letter-spacing: -0.02em;
        margin-bottom: 40px;
}
.hero-box-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 129%;
        letter-spacing: -0.04em;
        display: flex;
        align-items: center;
        max-width: 80px;
        gap: 4px
}
.hero-box-icon {
    stroke: none;
    fill: #fff;
}
.hero-box-imgs {
    display: flex;
    flex-direction: row-reverse;
   justify-content: flex-end;
}

.hero-box-imgs img {
    border-radius: 50%;
    border: 2px solid #1d1d1d;
    margin-right: -15px;
}

.hero-box-imgs img:first-child {
    margin-right: 0; 
}
.hero-box-revtext {
        font-weight: 400;
        font-size: 14px;
        line-height: 129%;
        letter-spacing: -0.04em;
        color: rgba(255, 255, 255, 0.5); 
}
.hero-box-numtext {
        font-weight: 500;
        font-size: 16px;
        line-height: 113%;
        letter-spacing: -0.04em;
}
.hero-icon-star {
    stroke-width: 1.50px;
    stroke: #060707;
    fill: #bea69b;
}
.icon-circle {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #bea69b;
    display: flex;
        align-items: center;
        justify-content: center;
}
.hero-box-star {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.hero-box-text {
    display: flex;
    flex-direction: column;
}
.hero-box {
    display: flex;
    gap: 40px;
    align-items: flex-start;
  margin-bottom: 30px;
}
.hero-box-left {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.hero-rev-text {
    max-width: 90px;
    display: flex;
    gap: 4px;
    align-items: center;
}
.hero-img {}
/* ------------TITLE------------- */

.title {
    padding-top: 20px;
    padding-bottom: 20px;
}
.title-section {
        font-weight: 400;
        font-size: 28px;
        line-height: 114%;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: #bea69b;
}
.title-section-italic {
    color: #fff;
}

/*------------ ABOUT -------------*/

.about {
    padding-top: 40px;
    padding-bottom: 40px;
}

.about-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 114%;
    letter-spacing: -0.04em;
    margin-bottom: 40px;
}

.subtitle-italic {
    color: #bea69b;
}

.about-img {
    margin-bottom: 40px;
}

.about-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 129%;
        letter-spacing: -0.02em;
}
.about p+p {
    margin-top: 16px; }

/*---------- COURSES----------- */

.courses {
    padding-top: 40px;
    padding-bottom: 40px;
}

.courses-title {
        font-weight: 500;
        font-size: 28px;
        line-height: 114%;
        letter-spacing: -0.04em;
        margin-bottom: 20px;
}

.subtitle-italic {
    color: #bea69b;
}

.courses-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 129%;
        letter-spacing: -0.02em;
        margin-bottom: 40px;
}

.courses-list {
   
}

.course-item {
    border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 12px;
        width: 280px;
        height: 378px;
        background: linear-gradient(180deg, #060707 0%, #1d1d1d 100%);
       padding: 28px 28px;
    }
    .course-item:not(:last-child) {
        margin-bottom: 20px;    
     }
.course-text {
        font-weight: 400;
        font-size: 14px;
        line-height: 129%;
        letter-spacing: -0.02em;
        color: rgba(255, 255, 255, 0.5);
}
.course-text-number {
    font-weight: 400;
        font-size: 14px;
        line-height: 129%;
        letter-spacing: -0.02em;
        color: rgba(255, 255, 255, 0.5);
}
.course-icon-box {
    display: flex;
   align-items: center;
    justify-content: space-between;
}
.course-icon-box {
    margin-bottom: 28px;
}


.courses-icon {
    stroke: none;
    fill: #1d1d1d;
}
.courses-icon:focus {
    fill: #bea69b;
}
.courses-icon:active {
    fill: #bea69b;
}
.courses-subtitle {
        font-weight: 500;
        font-size: 28px;
        line-height: 114%;
        max-width: 250px;
        margin-bottom: 134px;
}


/* ----------MENTORS----------- */
.mentors {
    padding-top: 40px;
    padding-bottom: 40px;
}


.mentors-list {
  display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.mentors-item {}

.mentors-img {
   margin-bottom: 16px;
}
.mentors-title {
    margin-bottom: 40px;
        font-weight: 500;
        font-size: 28px;
        line-height: 114%;
        letter-spacing: -0.04em;
}
.mentors-subtitle {
   margin-bottom: 4px;
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    text-align: center;
}

.mentors-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 133%;
        letter-spacing: -0.02em;
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
}

/*------------ FORM---------- */

.form {
    padding-top: 40px;
    padding-bottom: 40px;
}


.form-title {
   margin-bottom: 20px;
        font-weight: 500;
        font-size: 28px;
        line-height: 114%;
        letter-spacing: -0.04em;
}

.subtitle-italic {
    color: #bea69b;
}

.form-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 133%;
        color: rgba(255, 255, 255, 0.5);
        
}
.form-text-italic {
    text-decoration: underline;
        text-decoration-skip-ink: none;
}
.form-description {
    font-weight: 400;
        font-size: 14px;
        line-height: 129%;
        letter-spacing: -0.02em;
        margin-bottom: 40px;
}
.form-signup {}

.label-signup-name {
    
}

.input-signup-name {
    outline: none;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 12px;
        width: 280px;
        height: 40px;
        margin-bottom: 8px;
        padding-left: 18px;
        color: #fff;
}
.input-signup-name:focus, .input-signup-name:active {
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.label-signup-email {}

.input-signup-email {
    outline: none;
    background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 12px;
        width: 280px;
        height: 40px;
        margin-bottom: 8px;
        padding-left: 18px;
        color: #fff;
}
.input-signup-email:focus, .input-signup-email:active {
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.input-signup-message {
    outline: none;
    border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 12px;
        width: 280px;
        height: 112px;
        background-color: transparent;
        margin-bottom: 40px;
        padding-left: 18px;
        padding-top: 14px;
        color: #fff;
}
.input-signup-message:focus, .input-signup-message:active {
    border: 1px solid rgba(255, 255, 255, 0.5);
   
}
.btn-signup {
    border-radius: 12px;
        min-width: 280px;
        height: 42px;
        background-color: #fff;
            font-weight: 700;
            font-size: 16px;
            line-height: 125%;
            text-transform: uppercase;
            color: #121212;
            border: none;
            margin-bottom: 20px;
}
.btn-signup:focus, .btn-signup:active {
    background-color: #1d1d1d;
    color: #bea69b
}
input::placeholder,
textarea::placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 129%;
        color: #fff;
        opacity: 0.7;
        
}
input::placeholder:focus, input::placeholder:active,
textarea::placeholder:focus, textarea::placeholder:active {
    opacity: 1;
}
.form-img-small {}

.form-img-big {}

.form-text-italic {
    text-decoration: underline;
        text-decoration-skip-ink: none;
}

/* -----------REVIEWS-------- */
.reviews {
    padding-top: 40px;
    padding-bottom: 40px;
}

.reviews-title {
        font-weight: 500;
        font-size: 28px;
        line-height: 114%;
        letter-spacing: -0.04em;
        margin-bottom: 40px;
}

.reviews-list {}

.reviews-item {
    border: 1px solid rgba(255, 255, 255, 0.2);
        border-radius: 12px;
        width: 280px;
        height: 264px;
        padding: 20px 20px;
}
.reviews-item:last-child {
    display: none; }
.card {
    display: flex;
    align-items: flex-start;
    gap: 6px;
}
.content {
    transform: translateY(4px);
}
.reviews-img {
    border-radius: 100px;
        width: 56px;
        height: 56px;
}

.reviews-subtitle {
   margin-bottom: 4px;
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
       
}

.reviews-text {
 
        font-weight: 400;
        font-size: 12px;
        line-height: 133%;
        letter-spacing: -0.02em;
        color: rgba(255, 255, 255, 0.5);
        margin-bottom: 10px;
}

.reviews-icon {
    stroke: none;
    fill: #bea69b;
}
.reviews-icon-empty {
    stroke: none;
    fill: #fff;
    fill-opacity: 0.2;
}

.reviews-description {
        font-weight: 400;
        font-size: 14px;
        line-height: 129%;
        letter-spacing: -0.02em;
}

/*---------- FOOTER -------------*/
.foot {
    padding-top: 40px;
    padding-bottom: 40px;
}
.foot-logo-icon {
    margin-bottom: 16px;
    fill: #fff;
}

.foot-contacts {}

.foot-contacts-list {
  margin-bottom: 40px;
}

.foot-contacts-item {
        font-weight: 400;
        font-size: 14px;
        line-height: 129%;
        text-transform: uppercase;
        color: #fff;
}
.foot-contacts-item:not(:last-child) {
    margin-bottom: 10px;
}
.foot-contacts-link {
  
}

.foot-social-list {}

.foot-social-item {
    font-weight: 400;
        font-size: 14px;
        text-transform: uppercase;
}
.foot-social-item:not(:last-child) {
    margin-bottom: 14px;
}

.instagram-link:active,  .instagram-link:focus {
color: #bea69b;
}

.facebook-link:active, .facebook-link:focus {
    color: #bea69b;  
}

.youtube-link:active, .youtube-link:focus {
    color: #bea69b;
}

.foot-navigation {}

.foot-menu-list {}

.foot-menu-item {
  font-weight: 400;
  font-size: 14px;
text-transform: uppercase;
       
}
.foot-menu-item:not(:last-child) {
    margin-bottom: 14px;
}
.foot-menu-item:active, .foot-menu-item:focus {
    color: #bea69b;
}
.foot-menu-link {}
.foot-box {
    display: flex;
    gap: 40px;
    margin-bottom: 75px;
}

.curret {}

.label-foot-email {}

.input-foot-email {
    border-radius: 12px;
        width: 209px;
        height: 50px;
        border: none;
        padding-left: 18px;
}
.input-foot-email::placeholder {
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        color: #121212;
        opacity: 0.7;
}
.foot-btn {
    border-radius: 12px;
    background-color: #1d1d1d;
    height: 55px;
    min-width: 55px;
    color: #fff;
    border: none;
    margin-left: 8px;
}
.foot-btn:focus, .foot-btn:active {
    background-color: #fff;
    color: #121212;
}
.foot-information-list {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
 .foot-information-text {
        font-weight: 400;
        font-size: 12px;
        line-height: 133%;
 }
    /* MEDIA */
   
    @media screen and (min-width: 768px) {
        .container {
            width: 768px;
        }      
       

        }

        @media screen and (min-width: 1158px) {
            .container {
                    width: 1158px;   
                    padding: 0 15px 0 15px;
                }
             

            }